



  .swiper {
    
    height: 400px;
    font-size: 100px;
    background-color: #fff;
  } 
@media (max-width:699px){
  
  #swiper1{
    
  
    background-color: aqua;
    }#swiper2{
    
  
      background-color:cornflowerblue;
      }
      #swiper3{
        background-color: aquamarine;
      }
  .swiper-slide img {
    width: 98vw;
  }
  
  .modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* background-color:#fff; */
    z-index: 4;
    
    
  }
  .modal.kesu{
    opacity: 0;
    visibility: visible;
  }
  
  
  
  .mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    /* 後で消す */
    opacity: 1.6;
    z-index: 3;
    
  }
  .mask.kesu{
    opacity: 0;
    visibility: hidden;
  }
  .modal.kesu h2{
    font-size: 0px;
  }
  
  .modal h2{
    font-weight: bold;
    font-size: 20px;
    margin-right: 10px;
    
  }
  .box {
    padding: 0.5em 1em;
    margin: 2em 1.6em;
    
    
    background: #FFF;
    border: solid 5px purple;
    border-radius: 20px;
}
  
  
  .top img{
  position: fixed;
  bottom: 0;
  right: 0;
  width: 13vw;
    
}
  body{
    padding: 0;
    margin: 0;
    background-image: url(img/back.png);
    background-repeat: repeat;
  }
  header{
    width: 100%;
    top: 0;
    position:fixed;
    background-color: rgb(95, 178, 255);
    z-index: 2;
    
  }
  header > div{
    
    text-align: center;
    margin: 5px 0;
    

  }
  header > div img{
    width: 160px;
  }
  .btn_menu{
    position: absolute;
    top: 10px;
    right: 0px;
  }
  .btn_menu span{
    
    height: 50px;
    width: 70px;
    display: flex;
    /* border-radius: 50%; */
    padding: 0;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    /* background-color: black; */
    color: aliceblue;
  }
  .nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #fff;
    height: 0;
    opacity: 0;
    transition: all 300ms;
  }
  .nav.show ul{
    height: auto;
    opacity: 1;
    
  }
  .nav.show span{
    font-size: 0px;
  }
  .nav.show span:before{
    font-size: 60px;

    content: "×";
  }
  .nav ul li{
    text-align: center;
    border-bottom:solid 1px #ccc;
    padding:0.5px 0;  
  }
  .horror center img{
    width: 100vw;
  }
  .map center img {
    
    width: 50vw;


    
  }
  .pic {
    display: inline-block;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
  }
  .pic img{
    width: 35vw;
  }

  .access{
      font-size: 15px;
    }
    
    
}
  .title center{
    font-size: 30px;
    text-decoration:underline;
  }
  .mask　:checked{
    position: fixed;
    z-index: -1;
  }


  @media (min-width:700px){
    header{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 10px;
      background-color: blueviolet;

    }
    header>div{
      width: 300px;
    }
    main{
      width: 980px;
      margin: 0 auto;
    }
    .btn_menu{
      display: none;
    }
    .nav{
      width: 100%;
    }
    .nav ul{
      display: flex;
      justify-content: flex-end;
    }
    .nav ul li{
      border: none;
      margin: 0 20px;
    }
  }
